body {
    background-color: whitesmoke;
}

nav{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.template_header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.template_name {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.template_name:hover {
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}

.delete-btn{
    width: 5%;
    min-width: 40px;
    height: min-content;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-right: 0;
    margin-left: auto;
}